.subsection {
    padding: 2rem;
}

#hero{
    background-image: url("../img/hero1.jpeg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Smooth transition between images */
    transition: background-image 1s ease-in-out;
}
#hero h1{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3em;
}
#hero p{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
}

#description {
    color: #4f443c;
    text-align: center;
}

#description > div{
    width: 75%;
    padding: 1rem;
}

.subsection .carousel{
    background-color: darkgray;
    height: 100%;
    width: 47%;
}
.subsection .carousel div{
    width: 100%;
    height: 100%;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    /* The image covers all the container */
    object-fit: contain; 
}

.slick-prev:before, .slick-next:before {
    color: darkgray !important;
}
.slick-prev, .slick-next {
    z-index: 2; /* Asegura que los botones estén por encima de otros elementos */
}

.custom-bullets {
    list-style: none; /* Elimina las viñetas predeterminadas */
    padding: 0;
}

.custom-bullets li {
    position: relative;
    padding-left: 30px; /* Espacio para la flecha */
    margin-bottom: 10px; /* Espacio entre elementos */
}

li b{
    color: var(--app_dark_blue);
}

.custom-bullets li::before {
    content: '➔'; /* Flecha como viñeta */
    color: var(--app_light_blue); /* Color de la flecha */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.1em; /* Tamaño de la flecha */
    font-weight: bold;
    margin-bottom: 5px;
}