html, body {
    height: 100%;
    width:  100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    /* Color of the app in general: footer, header, etc. */
    --app_dark_blue: #1976d3;
    --app_light_blue: #5ca6f0;
}

p, li{
    font-size: 18px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: var(--app_dark_blue);
    color: white;
}

header a:hover{
    color: yellow;
}

.header_footer_padding {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.subsection {
    padding: 2rem;
}

#hero{
    background-image: url("../img/hero1.jpeg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Smooth transition between images */
    transition: background-image 1s ease-in-out;
}
#hero h1{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 3em;
}
#hero p{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
}

#description {
    margin-top: 3%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#description > div{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.subsection .text_container{
    position: relative;
    height: 100%;
    width: 48%;
    padding-right: 2rem;
    background-color: var(--app_dark_blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.subsection h2{
    color: var(--app_dark_blue);
}
.subsection .text{
    padding: 7%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.subsection .carousel{
    background-color: darkgray;
    height: 100%;
    width: 47%;
}
.subsection .carousel div{
    width: 100%;
    height: 100%;
}

.slick-slide img {
    width: 100%;
    height: 100%;
    /* The image covers all the container */
    object-fit: contain; 
}

.slick-prev:before, .slick-next:before {
    color: darkgray !important;
}
.slick-prev, .slick-next {
    z-index: 2; /* Asegura que los botones estén por encima de otros elementos */
}

.custom-bullets {
    list-style: none; /* Elimina las viñetas predeterminadas */
    padding: 0;
}

.custom-bullets li {
    position: relative;
    padding-left: 30px; /* Espacio para la flecha */
    margin-bottom: 10px; /* Espacio entre elementos */
}

li b{
    color: var(--app_dark_blue);
}

.custom-bullets li::before {
    content: '➔'; /* Flecha como viñeta */
    color: var(--app_light_blue); /* Color de la flecha */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.1em; /* Tamaño de la flecha */
    font-weight: bold;
    margin-bottom: 5px;
}

#contact {
    padding: 2rem;
    background-color: #403c3c;
    text-align: center;
    color: white;
}

.contact-grid {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.contact-info li {
    margin-bottom: 1rem;
    font-size: 1.2em;
}

.contact-info a {
    color: #1976d3;
    text-decoration: none;
    color: yellow;
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-media {
    padding-left: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: left;
}

.social-media img {
    width: 60px;
    height: 60px;
    background-color: #1976d3;
    border-radius: 50%;
    overflow: hidden;
}

.social-media a{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
}

.social-media p{
    margin-left: 5%;
}

footer {
    background-color: var(--app_dark_blue);
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
}