html, body {
    height: 100%;
    width:  100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors of the app */
    --app_dark_blue: #003366;
    --app_medium_blue: #1776D4;
    --app_light_blue: #64B5F6;
    --app_gray: #9BB7CD;
    --app_red: #EB1736;
    --app_ocher: #FFBA42;
    --app_orange: #FF6600;
    --app_orange_hover: #FF8533;
}

.centered_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.3em;
}
footer p, li{
    font-size: 1.15em;
}

article{
    flex-direction: column;
    justify-content: center;
}

header a:hover{
    color: var(--app_ocher);
    cursor: pointer;
}

footer {
    color: white;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.header_footer {
    background-color: var(--app_medium_blue);
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
}

.header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 2rem;
    position: relative; /* Necessary for the arrow*/
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a::after {
    font-size: 0.6rem;
    margin-left: 0.3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header_button {
    font-size: 19px;
    background-color: gray;/*var(--app_orange);*/
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 1rem;
}
/*
.header_button:hover {
    background-color: var(--app_orange_hover);
}*/

.subsection {
    font-family: "verdana";
    color: #4f443c;
}

.subsection h2{
    color: var(--app_dark_blue);
}

.subsection h1{
    text-align: center;
    color: var(--app_dark_blue);
    font-size: 1.8em;
}

#contact {
    padding: 2rem;
    background-color: #403c3c;
    text-align: center;
    color: white;
}

.contact-grid {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.contact-info li {
    margin-bottom: 1rem;
    font-size: 1.2em;
}

.contact-info a {
    color: #1976d3;
    text-decoration: none;
    color: var(--app_ocher);
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-media {
    padding-left: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: left;
}

.social-media img {
    width: 60px;
    height: 60px;
    background-color: #1976d3;
    border-radius: 50%;
    overflow: hidden;
}

.social-media a{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
}

.social-media p{
    margin-left: 5%;
}

/* Estilos para pantallas anchas (PCs) */ 
/*@media (min-width: 1024px) { 
    body { 
        background-color: lightblue; 
    } 
    header, main, footer { 
        padding: 20px; 
    } 
    h1 { 
        font-size: 2.5em; 
    } 
} */
/* Estilos para pantallas medianas (tablets) */ 
/*@media (min-width: 768px) and (max-width: 1023px) { 
    body { 
        background-color: lightgreen; 
    } 
    header, main, footer { 
        padding: 15px; 
    } 
    h1 { 
        font-size: 2em; 
    } 
} */
/* Estilos para pantallas estrechas (móviles) */ 
/*@media (max-width: 767px) { 
    body { 
        background-color: lightcoral; 
    } 
    header, main, footer { 
        padding: 10px; 
    } 
    h1 { 
        font-size: 1.5em; 
    } 
}*/
/* Estilos para relación de aspecto vertical (más alto que ancho) */ 
/*@media (max-aspect-ratio: 1/1) { 
    body { 
        background-color: lightyellow; 
    } 
    header, main, footer { 
        padding: 10px; 
    } 
    h1 { 
        font-size: 1.8em; 
    } 
} */
/* Estilos para relación de aspecto horizontal (más ancho que alto) */ 
/*@media (min-aspect-ratio: 1/1) { 
    body { 
        background-color: lightgray; 
    } 
    header, main, footer { 
        padding: 15px; 
    } 
    h1 { 
        font-size: 2.2em; 
    }
}
*/
